h1 {
    text-align: center;
    font-family: Monospace;
    text-shadow: 2px 2px 5px;
}

h2 {
    text-align: center;
    font-family: Monospace;
    text-shadow: 2px 2px 5px;
}

img {
    border: Black 8px double;
}

header {
    background-color: Black;
    font-size: 40px;
}

.text{
    text-align: center;
    font-family: Monospace;
    text-shadow: 2px 2px 5px #0E0874;
    font-size: 17;
}

img {
    display: block;
    margin: auto;
}

